Repository tunnelvisionlabs/MouseFastScroll: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Finish porting MouseFastScroll integration tests to the new harness
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Harness/IdeSendKeys.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/ScrollingIntegrationTest.cs
Due: test

checkpoint
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Harness/IdeTestAssemblyRunner.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Harness/IdeTestCollectionRunner.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Harness/InProcessIdeTestAssemblyRunner.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Harness/VisualStudioInstance.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Harness/VisualStudioInstanceFactory.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/TestInvoker_InProc.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/VisualStudio_InProc.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/OutOfProcess/TestInvoker_OutOfProc.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Threading/IdeTestCase.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Threading/IdeTestCaseRunner.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Threading/IdeTestRunner.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Threading/InProcessIdeTestRunner.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Tvl.VisualStudio.MouseFastScroll.IntegrationTests.csproj
Due: test

Update the integration tests project to .NET 4.6 and add project references
  MouseFastScroll.sln
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Tvl.VisualStudio.MouseFastScroll.IntegrationTests.csproj
  appveyor.yml
Due: test

Close the previous Visual Studio instance before starting a new set of tests in a different version
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Harness/IdeTestAssemblyRunner.cs
Due: test

Remove unnecessary collection fixtures from new test classes
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/IdeFactTest.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/ScrollingIntegrationTest.cs
Due: test

Add an asynchronous form of the in-process test helpers
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/Editor_InProc2.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/InProcComponent2.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/TextViewWindow_InProc2.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/ScrollingIntegrationTest.cs
Due: test

Catch exceptions in the top-level 'async void' harness
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Harness/IdeTestFrameworkExecutor.cs
Due: test

Update tests to use the correct JoinableTaskContext in Visual Studio 2013
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/AbstractIdeIntegrationTest.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/ScrollingIntegrationTest.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Tvl.VisualStudio.MouseFastScroll.IntegrationTests.csproj
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/VsFactTest.cs
Due: test

Use cleaner asynchronous test helpers
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/Editor_InProc2.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/InProcComponent2.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/TextViewWindow_InProc2.cs
Due: test

Fix unreliable mouse movement in integration tests
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Harness/NativeMethods.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/ScrollingIntegrationTest.cs
Due: test

Use DispatcherPriority.Background for JoinableTaskFactory in tests
  THIRD-PARTY-NOTICES.txt
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/AbstractIdeIntegrationTest.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Threading/JoinableTaskFactoryExtensions.cs
Due: test

Remove unnecessary test helper SynchronizationContextTaskScheduler
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/InProcComponent2.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Threading/SynchronizationContextTaskScheduler.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/VsFactTest.cs
Due: test

Simplify integration test helpers
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/IdeSendKeys.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/InProcComponent.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/InProcComponent2.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/VisualStudio_InProc.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/VisualStudio_InProc2.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/ScrollingIntegrationTest.cs
Due: test

Use IAsyncServiceProvider when available
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/InProcComponent2.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Tvl.VisualStudio.MouseFastScroll.IntegrationTests.csproj
Due: test

Let VsixTesting.Xunit initialize Visual Studio Instances as needed
  appveyor.yml
Due: none

Copy the VSIX output as detected from the ProjectReference
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Tvl.VisualStudio.MouseFastScroll.IntegrationTests.csproj
Due: test

Disable build time deployment
  appveyor.yml
Due: none

Remove unnecessary manual initialization in appveyor.yml
  appveyor.yml
Due: none

Remove unnecessary forced extension deployment on AppVeyor
  appveyor.yml
Due: none

Update to support Visual Studio 2019
  Tvl.VisualStudio.MouseFastScroll/source.extension.vsixmanifest
Due: production

Update version numbers for release 4.2.0
  Directory.Build.props
Due: none

Prepare for next development iteration
  Directory.Build.props
  Tvl.VisualStudio.MouseFastScroll/source.extension.vsixmanifest
Due: production

Update to support 17.0
  Tvl.VisualStudio.MouseFastScroll/source.extension.vsixmanifest
Due: production

Update version numbers for release 4.3.0
  Directory.Build.props
Due: none

Update Visual Studio 2022 support
  .gitignore
  MouseFastScroll.sln
  NuGet.config
  Tvl.VisualStudio.MouseFastScroll.11/Properties/AssemblyInfo.cs
  Tvl.VisualStudio.MouseFastScroll.11/Tvl.VisualStudio.MouseFastScroll.11.csproj
  Tvl.VisualStudio.MouseFastScroll.17/Properties/AssemblyInfo.cs
  Tvl.VisualStudio.MouseFastScroll.17/Tvl.VisualStudio.MouseFastScroll.17.csproj
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Tvl.VisualStudio.MouseFastScroll.IntegrationTests.csproj
  Tvl.VisualStudio.MouseFastScroll.Shared/FastScrollProcessor.cs
  Tvl.VisualStudio.MouseFastScroll.Shared/FastScrollProvider.cs
  Tvl.VisualStudio.MouseFastScroll.Shared/Tvl.VisualStudio.MouseFastScroll.Shared.projitems
  Tvl.VisualStudio.MouseFastScroll.Shared/Tvl.VisualStudio.MouseFastScroll.Shared.shproj
  Tvl.VisualStudio.MouseFastScroll.UnitTests/Tvl.VisualStudio.MouseFastScroll.UnitTests.csproj
  Tvl.VisualStudio.MouseFastScroll/Tvl.VisualStudio.MouseFastScroll.csproj
  Tvl.VisualStudio.MouseFastScroll/packages.config
  Tvl.VisualStudio.MouseFastScroll/source.extension.vsixmanifest
  appveyor.yml
Due: production, test

Update xunit
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Tvl.VisualStudio.MouseFastScroll.IntegrationTests.csproj
  Tvl.VisualStudio.MouseFastScroll.UnitTests/Tvl.VisualStudio.MouseFastScroll.UnitTests.csproj
Due: test

Switch to vs-extension-testing for integration tests
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/AbstractIdeIntegrationTest.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/IdeFactTest.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/ScrollingIntegrationTest.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Tvl.VisualStudio.MouseFastScroll.IntegrationTests.csproj
  appveyor.yml
Due: test

Update code coverage collection
  Directory.Build.props
  appveyor.yml
  codecov.yml
Due: none

Update source.extension.vsixmanifest
  Tvl.VisualStudio.MouseFastScroll/source.extension.vsixmanifest
Due: production

Update build tools and deployment configuration
  .editorconfig
  MouseFastScroll.sln
  Tvl.VisualStudio.MouseFastScroll.11/Tvl.VisualStudio.MouseFastScroll.11.csproj
  Tvl.VisualStudio.MouseFastScroll.17/Tvl.VisualStudio.MouseFastScroll.17.csproj
  Tvl.VisualStudio.MouseFastScroll/Tvl.VisualStudio.MouseFastScroll.csproj
Due: production

Use Nerdbank.GitVersioning for build versioning
  Directory.Build.props
  Tvl.VisualStudio.MouseFastScroll/Tvl.VisualStudio.MouseFastScroll.csproj
  Tvl.VisualStudio.MouseFastScroll/source.extension.vsixmanifest
  version.json
Due: production

Remove duplicate StyleCop.Analyzers references
  Tvl.VisualStudio.MouseFastScroll.11/Tvl.VisualStudio.MouseFastScroll.11.csproj
  Tvl.VisualStudio.MouseFastScroll.17/Tvl.VisualStudio.MouseFastScroll.17.csproj
  Tvl.VisualStudio.MouseFastScroll/Tvl.VisualStudio.MouseFastScroll.csproj
Due: production

Update to latest integration test harness and support Visual Studio 2022
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/AbstractIdeIntegrationTest.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Harness/IntegrationHelper.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Harness/NativeMethods.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/IdeFactTest.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/EditorInProcess.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/Editor_InProc2.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/IdeSendKeys.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/InProcComponent2.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/TextViewWindow_InProc2.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/InProcess/VisualStudio_InProc2.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Properties/AssemblyInfo.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/ScrollingIntegrationTest.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Threading/JoinableTaskFactoryExtensions.cs
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/Tvl.VisualStudio.MouseFastScroll.IntegrationTests.csproj
  Tvl.VisualStudio.MouseFastScroll.IntegrationTests/xunit.runner.json
  appveyor.yml
Due: test

Add support for VS2022 on ARM64
  Tvl.VisualStudio.MouseFastScroll/Tvl.VisualStudio.MouseFastScroll.csproj
  Tvl.VisualStudio.MouseFastScroll/source.extension.vsixmanifest
Due: production

Path conditions:
  production: any of: Tvl.VisualStudio.MouseFastScroll/
  test: any of: Tvl.VisualStudio.MouseFastScroll.IntegrationTests/, Tvl.VisualStudio.MouseFastScroll.IntegrationTestService/, Tvl.VisualStudio.MouseFastScroll.UnitTests/
